@page
@model DigitalAccOpening.Pages.FurtherInfo.ZakatExemptionPageModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Required Documents</title>
    <link rel="stylesheet" href="~/css/personalInfo.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <style>
        .btn-continue {
            background-color: #00A650;
            color: #fff;
            padding: 20px;
            font-size: 24px;
            border: none;
            border-radius: 5px;
            width: 60%;
            cursor: pointer;
            text-align: center;

        }
    </style>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li class="@(ViewData["ActivePage"] as string == "PersonalInformation" ? "active" : "")">
                    <div class="step-icon">1</div>

                    Personal Information
                </li>
                <li class="@(ViewData["ActivePage"] as string=="NextOfKin" ? "active" : "")">
                    <div class="step-icon">2</div>
                    Next of Kin Information
                </li>
                <li class="@(ViewData["ActivePage"] as string == "Preferences" ? "active" : "")">
                    <div class="step-icon">3</div>
                    references
                </li>
                <li class="@(ViewData["ActivePage"] as string == "ZakatExemption" ? "active" : "")">
                    <div class="step-icon">4</div>
                    Zakat Exemption
                </li>
                <li class="@(ViewData["ActivePage"] as string == "MailingAddress" ? "active" : "")">
                    <div class="step-icon">5</div>
                    Mailing Address
                </li>
                <li class="@(ViewData["ActivePage"] as string == "UploadDocuments" ? "active" : "")">
                    <div class="step-icon">6</div>
                    Upload Documents
                </li>
                <li class="@(ViewData["ActivePage"] as string == "CaptureImage" ? "active" : "")">
                    <div class="step-icon">6</div>
                    Capture Image
                </li>
                <li class="@(ViewData["ActivePage"] as string == "VerifyEnteredData" ? "active" : "")">
                    <div class="step-icon">6</div>
                    Verify Entered Data
                </li>
            </ul>
        </div>

        <div class="content">
            <div class="back-button">
                <a href="#">&#8592; Go Back</a>
            </div>
            <div class="profile-image"></div>
            <h1>Financial Information</h1>
            <h5> An expected monthly aggregated Inflow and Outflow from your account</h5>

            <form method="post">
                <div class="form-group">
                    
                    <select name="MonthlyDebitTurnover">
                        <option value="">Expected Monthly Debit TurnOver</option>
                        <option value="Upto 250 k">Upto 250 k</option>
                        <option value="Upto 500 k">Upto 500 k</option>
                        <option value="Upto 1 Million">Upto 1 Million</option>
                        <option value="Upto 2.5 Million">Upto 2.5 Million</option>
                        <option value="Upto 5 Million">Upto 5 Million</option>
                        <option value="Above 5 Million">Above 5 Million</option>
                    </select>

                    <select name="MonthlyCreditTurnover">
                        <option value="">Expected Monthly Credit TurnOver</option>
                        <option value="Upto 250 k">Upto 250 k</option>
                        <option value="Upto 500 k">Upto 500 k</option>
                        <option value="Upto 1 Million">Upto 1 Million</option>
                        <option value="Upto 2.5 Million">Upto 2.5 Million</option>
                        <option value="Upto 5 Million">Upto 5 Million</option>
                        <option value="Above 5 Million">Above 5 Million</option>
                    </select>

                </div>

                <div class="form-group">
                    <select name="ExpectedModeOfTransaction">
                        <option value="">Expected Mode Of Transaction</option>
                        <option value="Cash Deposit/Withdrawl">Cash Deposit/Withdrawl</option>
                        <option value="Online">Online</option>
                        <option value="Remittances">Remittances</option>
                        <option value="Clearing">Clearing</option>
                        <option value="Collections">Collections</option>
                        <option value="Others">Others</option>
                    </select>
                    <input type="text" placeholder="Monthly Income in PKR" name="MonthlyIncome" />
                </div>
                

                <button class="btn-continue">Continue</button>


            </form>
        </div>
    </div>

</body>
</html>